# Создаем requirements.txt
spleeter==2.1.0
moviepy==1.0.3
pydub==0.25.1
openai-whisper==20231117
Pillow==9.5.0
ffmpeg-python==0.2.0
# numpy==1.26.3
scikit-learn==1.2.2
librosa==0.8.1


numpy>=1.21.0,<1.22.0
librosa>=0.8.1


tensorflow==2.17.1
tk==0.1.0
requests==2.31.0
tqdm==4.65.0
matplotlib==3.7.1
